#inicio {
    height: 100vh;
    background: url('/Conceitos-Onc/img/banner-incio.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 0 8%;
    color: #fff;
    align-items: flex-end;
    text-align: right;
}

#cta {
    z-index: 2;
    max-width: 600px;
}

.titúlo {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c4c0c;
    word-wrap: break-word;
    max-width: 90%;
    font-family: "Bebas Neue", sans-serif;
}

.descricao {
    font-size: 1.0rem;
    max-width: 600px;
    color: #2c4c0c;
    word-wrap: break-word;
}
